body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}
#nav-contain{
    width: 100vw;
}
#navbar{
    height: 80px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    border:2px solid black;
    background-size: cover;
    background-color:#F47216;
}
#logoi{
    height: 70px;
    width: 160px;
}
#pho{
    height: 70px;
    width: 160px;
}

#lvl{
    font-size: 15px;
    color: #e0f7ff;
    font-weight: 600;
}
#stn{
    height: 28px;
    border-radius: 8px;
    border: none;
    padding: 0 8px;
    background: rgba(255,255,255,0.9);
    font-weight: 600;
    box-shadow:
        inset 2px 2px 5px rgba(0,0,0,0.2),
        inset -2px -2px 5px rgba(255,255,255,0.6);
    outline: none;
}

#mulbtn{
    display: flex;
    gap:5px;
    align-items: center;
}
.nan-btn{
    height: 36px;
    padding: 0 18px;
    border-radius: 22px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    color: rgb(8, 0, 0);
    background: linear-gradient(145deg, #00ff8c, #00c6ff);
    box-shadow:
        0 6px 0 #08a015,
        0 10px 20px rgba(155, 91, 8, 0.5);
    transition: all 0.25s ease;
} 
.nan-btn:hover{
    transform: translateY(-3px);
    box-shadow:
        0 8px 0 #d87e7e,
        0 14px 28px rgba(0,0,0,0.6);
}
.nan-btn:active{
    transform: translateY(2px);
    box-shadow:
        0 3px 0 #00667a,
        0 6px 12px rgba(0,0,0,0.5);
}