#para-con{
    height:auto;
    width: 1200px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: auto;
    background-color:aliceblue;
}
.para-co{
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
}
.main-para{
    height: auto;
    width: 1100px;
    font-size: 17px;
}